* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root {
    font-size: 62.5%; // 1rem = 10px
  }

  body {
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    background: #292738;
    width: 100vw;
    height: 100vh;
  }


  