* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  :root {
    font-size: 62.5%; // 1rem = 10px
  }
  
  body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
  }

  header {
    height: 53.2rem;
    background-color: #F8F8FF;
    padding: 10rem 22rem;
    position: relative;
  }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .headerInput {
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 1rem;
    padding: 4rem;
    margin-top: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }

  .header-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 64.7rem;
  }

  h1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 6rem;

    color: #121214;
  }

  h1 span {
    color: #6246EA;
  }

  h5 {
    color: #E45858;
    font-weight: 500;
    letter-spacing: 0.1em;
    line-height: 2.6rem;
  }

  #heroLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  #heroRight {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .headerInput div {
    width: 34.8rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;

    background: #F4F4FF;
    border-radius: 0.5rem;
    border: 0;

    color: #7C7C8A;

  }

  .headerInput input {
    width: 100%;
    border: 0;
    background: #F4F4FF;
  }

  .headerInput input:focus {
    outline: none;
  }

  .headerInput button {
    width: 16.9rem;
    height: 4.8rem;

    background: #6246EA;
    border-radius: 0.5rem;
    border: 0;

    color: #FFFFFF;
    cursor: pointer;
  }

  main {
    padding: 10rem 11.2rem;
  }

  h3 {
    font-weight: 700;
    font-size: 32px;
    line-height: 4.5rem;
    color: #121214;
  }

  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .switcher {
    width: 19rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #EAEAEA;
    border-radius: 6px;

    background: #FFFF;
  }

  main button {
    padding: 0.4rem 2.4rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
  }

  .btn1 {
    color: #FFFF;
    background: #6246EA;
  }

  .btn2 {
    color: #6246EA;
    background: #FFFF;
  }